@import '../../../styles/mixins';

.attendance-chart-container{
    display: flex;
    padding-top: 2em;

    @media #{ $condition-desktop } {
        min-height: 400px;
        width: 100%;
    }

    @media #{ $condition-mobile }{
        width: 100%;
        overflow-x: auto;
        >div{
            overflow-x: auto !important;
        } 
    }

    .chart-alt{
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p{ display:flex; margin:0; padding:0; }
        .chart-alt-text{
            color: #fff;
            height:fit-content;
            font-size: 2em;
        }
        .chart-alt-desc{
            color:#fff;
            height:fit-content;
        }
    }
    
}