// Breakpoints
$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;

// COLORS
$colors-green : #28AE60;
$colors-white : #fff;
$colors-blue : #2196f3;
$colors-yellow : #f1c40f;
$colors-purple : #9c27b0;
$colors-orange : #ff9800;
$colors-red : #f44336;

$colors-text : #fff;
$colors-text-highlight : #28ae60;
$colors-text-sub : #afafaf;

$colors-shadow : #0c0c0dbd;
$colors-background : #282c34;
$colors-background-light : #363d4f;
