@import '../../styles/mixins';

._card-container{
    background-color: $colors-background-light;
    box-shadow: 2px 2px 3px 0px $colors-shadow;
    padding : 0 20px;
    border-radius: 10px;
    height: 100%;

    @media #{ $condition-desktop }{
        margin-right: 30px;
    }

    @media #{ $condition-mobile }{
        margin-right: 0px;
    }

    .title{
        color : $colors-text;
        margin : 0;
        padding : 0;
        font-size: 1.5em;
        padding-top: 15px;
    }
    .desc{
        margin : 0;
        padding : 0;
        color : $colors-text-sub;
        font-size: .8em;
        margin-top: .3em;
        margin-bottom: 1em;
    }
    .wrapper{
        padding-bottom: 10px;
    }
}